<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="format_sql">true</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:khazina.db</property>
		<property name="dialect">tj.dushanbe.ibrohim.services.dialect.SQLiteDialect</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="tj.dushanbe.ibrohim.models.ProductCategory" />
		<mapping class="tj.dushanbe.ibrohim.models.ProductSize" />
		<mapping class="tj.dushanbe.ibrohim.models.ProductColor" />
		<mapping class="tj.dushanbe.ibrohim.models.Product" />
		<mapping class="tj.dushanbe.ibrohim.models.Stock" />
	</session-factory>
</hibernate-configuration>
